#footer {
    /*
        Position é uma camada sobre a outra
    */
    position: fixed;
    background-size: cover;

    bottom: 0px;
    left: 0px;
    width: 100%;
}

#line {
    width: 391px;
    height: 0px;
    margin: 0 auto 0px;

    border: 1px solid #ECEFF2
}

#footer #wave {
    background-size: cover;
    bottom: 0px;
    left: 0px;
    width: 100%;
}